body, html, #background {
  margin: 0%;
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.863), rgba(255, 255, 255, 0.863), rgb(0, 0, 0));
}

.header{
  position: sticky;
  top: 0;
  background-color:  rgba(255, 255, 255, 0);
}

.category-wrapper{
  float: right;
  padding-right: 100px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
.logo{
  width:100px;
  height:100px;
  margin: 1%;
}

h1 {
  font-size: 12vh;
  color: rgb(172, 68, 154);
  text-align: center;
  font-family: 'Lobster', cursive;
}

.items{
  display: flex;
  justify-content: space-around;
  /*font-family: 'ink free';
  font-size: 3vh;*/
  z-index: 1;
  flex-wrap: wrap;
  margin: 100px;
}

.item{
  width: 300px;
  height: 370px;
  margin-bottom: 15px;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.075);
  color: rgba(255, 0, 0, 1);
  text-align: center;

  z-index: 3;
}
.item img{
  width: 300px;
  height: 300px;
  padding: 2%;
  vertical-align: middle;
}

.item__price{
  font-weight: bold;
}

.itemContainer{
  background-color: rgba(0, 0, 0, 0.075);
  padding: 2%;
  color: rgba(255, 255, 255, 0.329);
  z-index: 3;
  height: 50vh;
}
.itemContainer .item__image{
  width: 20vw;
  float: left;
  padding-right: 20px;
}

.header__buttons{
  float: right;
  align-items: flex-end;
  background-color: #0a69f8;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin-top: 4%;
  margin-right: 1.5%;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

@keyframes move{
  0%   { left:0vw; }
  50%  { left:95vw; }
  100% { left:0vw; }
}


.button:hover {opacity: 1}
.logo:hover {box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); }
.item:hover{box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}
img:hover {box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);}
